/* Signin.css */

.signin-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(56, 126, 209), rgb(172, 182, 229));
}

.signin-form {
  background: white;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.signin-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.signin-input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

.signin-input:focus {
  border-color: #74ebd5;
  outline: none;
}

.signin-button {
  width: 100%;
  padding: 12px;
  background-color: rgb(56, 126, 209);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signin-button:hover {
  background-color: rgb(45, 102, 174);
}

.signin-message {
  margin-top: 15px;
  text-align: center;
  color: #333;
  font-weight: bold;
}
